{{#if showWeekdays}}
  <div class='date-picker__weekdays'>
    {{#each weekdays as |day|}}
      <div class='date-picker__weekday'>
        {{day}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class='date-picker__days'>
  {{#each daysInMonth as |date|}}
    {{#if date}}
      <button 
        class={{date.classes}}
        disabled={{date.disabled}}
        {{action 'selectDate' date.date}}>
        {{date.day}}
      </button>
    {{else}}
      <div class="date-picker__day__placeholder"></div>
    {{/if}}
  {{/each}}
</div>