<button class={{buttonFromClasses}} {{action 'toggleOpen'}}>
  {{buttonText}}
</button>

{{#if range}}
  {{dateRangeSeparator}}
  <button class={{buttonToClasses}} {{action 'toggleOpenTo'}}>
    {{buttonToText}}
  </button>
{{/if}}

{{#if isOpen}}
  <div class="date-picker-wrap{{if options ' options'}}" style={{translateX}}>
    <div class="calendar">

      <header>

        <button class="prev" {{action 'gotoPreviousMonth'}}></button>
        <button class="next" {{action 'gotoNextMonth'}}></button>

        <div class="title">{{titleText}}</div>

        <div class="selectBoxes">

          <select id="years">
            {{#each years as |year|}}
              <option value="{{year.id}}" {{action 'selectYear' year.id}}>{{year.name}}</option>
            {{/each}}
          </select>

          <select id="months">
            {{#each months as |month|}}
              <option value="{{month}}" {{action 'selectMonth' month}}>{{month}}</option>
            {{/each}}
          </select>

        </div>
      </header>

      {{date-picker-month
        month=currentMonth
        selectedDates=selectedDates
        selectDate=(action 'selectDate')
        minDate=minDate
        maxDate=maxDate
        weekdays=weekdays
        months=months
      }}
    </div>

    {{#if options}}
      <div class="options">
        {{#each _options as |option|}}
          <button {{action option.action option.actionValue}} class="option {{option.classes}}">
            {{option.label}}
          </button>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/if}}
{{#if isRequired}}
  <input type="text" name="ember-date-select-date-hidden-input" value="{{value}}" required="required">
{{/if}}

{{#if error}}
  <input type="text" name="ember-date-error-date-hidden-input" value="" data-parsley-required-message="{{error}}" required="required">
{{/if}}